name: Cloud Portal CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Job 1: Verificer at koden kan bygges (Docker)
  build-and-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Build Backend (C# API)
        run: docker build ./backend -t cloud-portal-api:test

      - name: Build Frontend (React)
        run: docker build ./frontend -t cloud-portal-frontend:test

  # Job 2: Verificer Infrastruktur (Terraform)
  terraform-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Validate
        run: |
          cd terraform
          terraform init -backend=false
          terraform validate